{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}"> {% endcomment %}
  {% tailwind_css %}
  {% block css %}{% endblock css %}
  <script defer src="{% static 'js/base.js' %}"></script>
  {% block js %}{% endblock js %}
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <title>Identicard</title>
</head>
<body>
  <main class="md:container md:mx-auto">
    <section>
      {% for k, v in form.errors.items %}
        {% for error in v %}
          {% include 'components/alerts/error.html' with msg=error %}
        {% endfor %}
      {% endfor %}
    </section>
    {% block content %}{% endblock %}
  </main>
</body>
</html>