{% extends 'card/base.html' %}
{% load static %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  {{ card.pk|json_script:'card-pk' }}
  <script defer src="{% static 'card/js/card.js' %}"></script>
{% endblock js %}
{% block content %}
  {% with card.user as user %}
    <nav class="container mx-auto flex justify-between items-center h-16">
      <div class="flex items-center">
        <img class="h-3 md:h-6" src="{% static 'icons/logo-beaker.png' %}" />
        <img class="h-10 md:h-14" src="{% static 'icons/logo-ferreprodac.png' %}" />
      </div>
      <div>
        <button data-text="{{ card_url }}" class="bg-primary text-white rounded-full mx-1 px-2 py-1 text-sm inline-flex items-center copy-to-clipboard">
          <span class="material-icons text-sm md:mr-1">link</span>
          <span class="hidden md:inline">Link</span>
        </button>
        <a href="whatsapp://send?text={{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">
          <button class="bg-primary text-white rounded-full mx-1 px-2 py-1 text-sm inline-flex items-center">
            <span class="material-icons md:mr-1 text-sm">reply</span>
            <span class="hidden md:inline" >Compartir</span>
          </button>
        </a>
      </div>
    </nav>
    <div
      id="nav-menu"
      x-data="menuData"
      class="fixed left-auto md:left-3 bottom-0 md:bottom-auto md:top-1/2 md:-translate-y-1/2 
            flex justify-around items-center md:flex-col w-full md:w-auto
            bg-primary py-2 md:rounded-md h-16 md:h-auto z-50"
    >
      <a href="#home" @click="onClick" class="material-icons text-white text-4xl">home</a>
      <a href="#contact" @click="onClick" class="material-icons text-white text-4xl">email</a>
    </div>
    <main id="main-wrapper" class="h-screen-calc-tray md:h-screen-calc w-screen overflow-y-auto bg-gray-200" x-data="pageData">
      <section x-show="page == '#home'" x-transition id="home" class="h-screen-calc">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              {% if card.background %}
                <li class="splide__slide">
                  <img class="w-full" src="{{ card.background.url }}" />
                </li>
              {% endif %}
              <li class="splide__slide">
                <img class="w-full" src="{% static 'card/img/banner-alambre.png' %}" />
              </li>
              <li class="splide__slide">
                <img class="w-full" src="{% static 'card/img/banner-clavos.png' %}" />
              </li>
            </ul>
          </div>
        </div>
        {% if card.logo %}
          <img class="w-60 h-60 rounded-full mx-auto bg-white -translate-y-1/2 object-cover object-center" src="{{ card.logo.url }}" />
        {% endif %}
        <p class="container mx-auto py-4 w-full md:w-1/2 text-center -mt-24">
          {{ card.description }}
        </p>
        <div class="flex w-3/4 mx-auto mt-4 justify-between">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.839169311068!2d-77.12840208459409!3d-11.98562824403094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cdb805a6c3cb%3A0xf96e286e99869177!2sPRODAC!5e0!3m2!1sen!2spe!4v1636586654915!5m2!1sen!2spe" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          <div class="flex flex-col justify-around">
            <div class="flex items-center">
              {% if card.facebook %}
                <a href="{{ card.facebook }}" class="flex items-center">
                  <img class="w-8 mr-2" src="{% static 'icons/facebook.svg' %}" alt="facebook icon">
                  {{ card.facebook }}
                </a>
              {% endif %}
              <a href="mailto:{{ card.user.email }}" class="flex items-center ml-8">
                <span class="material-icons text-gray-500 text-4xl mr-2">email</span>
                {{ card.user.email }}
              </a>
            </div>
            <a class="flex items-center" href="#contacto"><span class="material-icons text-gray-500 text-4xl mr-2">inventory_2</span> Haz tu pedido</a>
          </div>
        </div>
        <div class="h-14"></div>
      </section>
      <section x-show="page == '#contact'" x-transition class="min-h-screen-calc">
        <div class="h-14 md:h-0"></div>
        <div class="container mx-auto md:flex items-center min-h-screen-calc">
          <div class="w-full flex justify-center items-center">
            <div>
              <div>
                <span class="text-white bg-primary px-3 py-1 rounded-full">Contactémonos</span>
              </div>
              <p><span class="material-icons text-sm">call</span> {{ card.phone }}</p>
              <p><span class="material-icons text-sm">email</span> {{ card.user.email }}</p>
              <p><span class="material-icons text-sm">place</span> {{ card.address }}</p>
            </div>
          </div>
          <div class="w-full">
            {% url 'contact' card.pk as contact_url %}
            {% include 'components/form.html' with form=contact_form with_labels="true" method='POST' form_class='bg-transparent shadow-none' action=contact_url %}
          </div>
        </div>
        <div class="h-14 md:h-0">
        </div>
      </section>
    </main>
  {% endwith %}
{% endblock content %}