{% extends 'card/base.html' %}
{% load static %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  {{ card.pk|json_script:'card-pk' }}
  <script defer src="{% static 'card/js/card.js' %}"></script>
{% endblock js %}
{% block content %}
  {% with card.user as user %}
    <nav class="container mx-auto flex justify-between items-center h-16">
      <img class="h-8 md:h-10" src="{% if card.logo %}{{ card.logo.url }}{% else %}{% static 'card/img/logo.svg' %}{% endif %}" />
      <div>
        <button data-text="{{ card_url }}" class="bg-primary text-white rounded-full mx-1 px-2 py-1 text-sm inline-flex items-center copy-to-clipboard">
          <span class="material-icons text-sm md:mr-1">link</span>
          <span class="hidden md:inline">Link</span>
        </button>
        <a href="whatsapp://send?text={{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">
          <button class="bg-primary text-white rounded-full mx-1 px-2 py-1 text-sm inline-flex items-center">
            <span class="material-icons md:mr-1 text-sm">reply</span>
            <span class="hidden md:inline" >Compartir</span>
          </button>
        </a>
      </div>
    </nav>
    <div
      id="nav-menu"
      x-data="menuData"
      class="fixed left-auto md:left-3 bottom-0 md:bottom-auto md:top-1/2 md:-translate-y-1/2 
            flex justify-around items-center md:flex-col w-full md:w-auto
            bg-primary py-2 md:rounded-md h-16 md:h-auto"
    >
      <a href="#home" @click="onClick" class="material-icons text-white text-4xl">home</a>
      <a href="#contact" @click="onClick" class="material-icons text-white text-4xl">email</a>
    </div>
    <div class="fixed right-3 top-1/2 -translate-y-1/2 z-10">
      {% if card.facebook %}
        <a href="{{ card.facebook }}">
          <svg
            class="w-7"
            width="6.8791666mm"
            height="6.8791666mm"
            viewBox="0 0 6.8791666 6.8791666"
            version="1.1"
            id="svg1243"
            inkscape:version="1.1 (c68e22c387, 2021-05-23)"
            sodipodi:docname="facebook.svg"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <sodipodi:namedview
              id="namedview1245"
              pagecolor="#ffffff"
              bordercolor="#666666"
              borderopacity="1.0"
              inkscape:pageshadow="2"
              inkscape:pageopacity="0.0"
              inkscape:pagecheckerboard="0"
              inkscape:document-units="mm"
              showgrid="false"
              inkscape:zoom="5.8725028"
              inkscape:cx="34.653027"
              inkscape:cy="14.55938"
              inkscape:window-width="1920"
              inkscape:window-height="1009"
              inkscape:window-x="-8"
              inkscape:window-y="-8"
              inkscape:window-maximized="1"
              inkscape:current-layer="layer1" />
            <defs id="defs1240" />
            <g
              inkscape:label="Layer 1"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(-48.102892,-156.23396)"
            >
              <rect
                style="fill:#ffffff;stroke-width:0.264583"
                id="rect1280"
                width="4.3252425"
                height="5.6768813"
                x="49.920509"
                y="156.97026"
              />
              <g
                id="g1249"
                transform="matrix(0.26458333,0,0,0.26458333,48.102892,156.23396)"
              >
                <path
                  class="fill-current text-primary"
                  d="M 21.125,0 H 4.875 C 2.182,0 0,2.182 0,4.875 v 16.25 C 0,23.818 2.182,26 4.875,26 h 16.25 C 23.818,26 26,23.818 26,21.125 V 4.875 C 26,2.182 23.818,0 21.125,0 Z m -0.661,14.002 h -2.433 v 9.004 h -4.063 v -9.004 h -1.576 v -3.033 h 1.576 V 9.037 C 13.969,6.504 15.021,5 18.006,5 h 3.025 v 3.022 h -1.757 c -1.162,0 -1.238,0.433 -1.238,1.243 l -0.005,1.703 h 2.764 z"
                  id="path1247"
                />
              </g>
            </g>
          </svg>
        </a>
      {% endif %}
    </div>
    <main id="main-wrapper" class="h-screen-calc-tray md:h-screen-calc w-screen overflow-y-auto" x-data="pageData">
      <section x-show="page == '#home'" x-transition id="home" class="h-screen-calc">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">Slide 01</li>
              <li class="splide__slide">Slide 02</li>
              <li class="splide__slide">Slide 03</li>
            </ul>
          </div>
        </div>
        {% comment %} <div class="px-5 flex flex-col items-center justify-center h-1/2 my-16">
          <div class="flex flex-col md:flex-row items-center backdrop-blur-lg rounded-md md:rounded-full px-4 py-2">
            <div>
              {% if card.logo %}
                <img class="w-24 h-24 md:w-40 md:h-40 rounded-full mx-auto" src="{{ user.logo.url }}" alt="">
              {% endif %}
            </div>
            <div class="md:mx-10 text-center">
              {% if card.phone %}
                <a
                  href="tel:{{ card.phone }}"
                  class="font-semibold text-white text-base mr-1 material-icons bg-primary w-8 h-8 inline-flex justify-center items-center rounded-full">phone</a>
              {% endif %}
              {% if user.email %}
                <a
                  href="mailto:{{ user.email }}"
                  class="font-semibold text-white text-base mr-1 material-icons bg-primary w-8 h-8 inline-flex justify-center items-center rounded-full">email</a>
              {% endif %}
              {% if card.whatsapp %}
                <a
                  href="https://wa.me/51{{ card.whatsapp }}" class="bg-primary rounded-full p-1 w-8 h-8 inline-flex justify-center items-center mt-1">
                  <img class="w-4" src="{% static 'icons/whatsapp.svg' %}" />
                </a>
              {% endif %}
              <h6 class="text-white uppercase">{{ card.name }}</h6>
            </div>
          </div>
        </div> {% endcomment %}
        <div class="bg-gray-200 min-h-1/2">
          <div class="container mx-auto py-4 h-full">
            {% autoescape off %}
              {{ card.description }}
            {% endautoescape %}
          </div>
        </div>
        <div class="h-14 bg-gray-200">
        </div>
      </section>

      <section class="p-4 min-h-screen-calc flex items-center" x-show="page == '#services'" x-transition>
        <div class="container mx-auto flex flex-col md:flex-row md:justify-around items-center">
          {% for service in services %}
            <div class="w-full md:w-1/4 p-4 mb-2 md:mb-0 rounded-md border border-gray-200 shadow-md bg-white">
              {% if service.image %}
                <img src="{{ service.image.url }}" />
              {% endif %}
              <h4 class="text-center my-2">{{ service.name }}</h4>
              <p class="text-sm">{{ service.description }}</p>
            </div>
          {% endfor %}
        </div>
        <div class="h-14">
        </div>
      </section>

      <section x-show="page == '#booking'" x-transition class="container mx-auto min-h-screen-calc p-2">
        <div class="h-14"></div>
        {% url 'book_date' card.pk as book_date_url %}
        {% include 'components/form.html' with with_labels="true" direction="horizontal" x_data='bookingFormData' method='POST' action=book_date_url %}
        <div class="h-14 md:h-0"></div>
      </section>

      <section x-show="page == '#contact'" x-transition class="min-h-screen-calc bg-gray-200">
        <div class="h-14 md:h-0"></div>
        <div class="container mx-auto md:flex items-center min-h-screen-calc">
          <div class="w-full flex justify-center items-center">
            <div>
              <div>
                <span class="text-white bg-primary px-3 py-1 rounded-full">Contactémonos</span>
              </div>
              <p><span class="material-icons text-sm">call</span> {{ card.user.phone }}</p>
              <p><span class="material-icons text-sm">email</span> {{ card.user.email }}</p>
              <p><span class="material-icons text-sm">place</span> {{ card.user.address }}</p>
            </div>
          </div>
          <div class="w-full">
            {% url 'contact' card.pk as contact_url %}
            {% include 'components/form.html' with form=contact_form with_labels="true" method='POST' form_class='bg-transparent shadow-none' action=contact_url %}
          </div>
        </div>
        <div class="h-14 md:h-0">
        </div>
      </section>
    </main>
  {% endwith %}
{% endblock content %}