{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate" />
    <meta property="og:image" content="{% if card.logo %}{{ card.logo.url }}{% endif %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% url 'card' card.pk %}"/>
    <meta property="og:title" content="{{ card.name }}" />
    <meta property="og:description" content="{{ card.name }}" />
    <link rel="manifest" href="{% url 'manifest' card.pk %}">
    {% comment %} <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}"> {% endcomment %}
    <title>FerreProdac</title>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% tailwind_css %}
    {% block css %}{% endblock css %}
    <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script defer src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock js %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    {% block content %}{% endblock content %}
    {% if request.user.is_authenticated and request.user.pk == card.user.pk %}
      <a href="{% url 'dashboard' %}" target="_blank" class="material-icons text-4xl fixed right-5 bottom-20 md:bottom-5 text-gray-400">settings</a>
    {% endif %}
    <div id="splash-screen" class="fixed inset-0 bg-white flex justify-center items-center z-50">
      <svg class="spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>
    {% include 'components/alerts/messages.html' %}
    {% url 'create_registration' card.pk as registration_url %}
    {{ registration_url|json_script:'regURL' }}
    {{ vapid_key|json_script:'vapidKey' }}
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js"
      import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-messaging.js"

      const regURL = JSON.parse(document.querySelector('#regURL').textContent)
      const vapidKey = JSON.parse(document.querySelector('#vapidKey').textContent)
      const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyBfyMeRTF5FwGdpTxuVssfSsRS2y9lHkoI",
        authDomain: "prodac-7738f.firebaseapp.com",
        projectId: "prodac-7738f",
        storageBucket: "prodac-7738f.appspot.com",
        messagingSenderId: "572770346423",
        appId: "1:572770346423:web:83800ad9cb3a61a1a0f432",
      }

      // Initialize Firebase
      const app = initializeApp(firebaseConfig)

      const messaging = getMessaging()

      navigator.serviceWorker.register('/firebase-messaging-sw.js')
        .then(reg => {
          reg.update()
          getToken(messaging, { vapidKey }).then((currentToken) => {
            if (currentToken) {
              const formData = new FormData()
              formData.append('token', currentToken)
              formData.append('csrfmiddlewaretoken', csrfToken)
              fetch(regURL, {
                method: 'POST',
                body: formData,
              })
            } else {
              console.log('No registration token available. Request permission to generate one.')
            }
          }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err)
          })
        })
    </script>
  </body>
</html>