{% load static i18n %}
<div class="relative group {% if mobile %}block md:hidden{% else %}hidden md:block{% endif %}">
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'es' %}
    <img class="w-8" src="{% static 'icons/spain.svg' %}" />
    {% else %}
    <img class="w-8" src="{% static 'icons/usa.svg' %}" />
    {% endif %}
    <div class="hidden group-hover:block absolute bg-white">
    <form action="{% url 'set_language' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="language" value="es">
        <button type="submit" class="p-0 mt-2"><img class="w-8" src="{% static 'icons/spain.svg' %}" /></button>
    </form>
    <form action="{% url 'set_language' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="language" value="en">
        <button type="submit" class="p-0 mt-2"><img class="w-8" src="{% static 'icons/usa.svg' %}" /></button>
    </form>
    </div>
</div>