{% load i18n webtags %}
<div class="p-6 bg-white rounded-md shadow-md {{ form_class }}">
  {% if form_title %}
    <h2 class="text-lg text-gray-700 font-semibold capitalize">{{ form_title }}</h2>
  {% endif %}
  <form
    action="{{ action }}"
    method="{{ method }}"
    {{ x_on }}
    @submit="onSubmit"
    x-data="{% if x_data %}{{ x_data }}{% else %}basicFormsetData(){% endif %}"
  >
    {{ formset.management_form }}
    {% csrf_token %}
    <div class="lg:flex justify-between">
      {% for form in formset %}
        <div class="grid grid-cols-1 {% if direction and direction == 'horizontal' %}sm:grid-cols-2{% endif %} gap-6 mx-2">
          {% for f in form %}
            <div x-ref="{{ f.auto_id }}" class="{% if f.auto_id == hide_id %}hidden{% endif %} input-wrapper">
              {% if with_labels %}
                {{ f.label_tag }}
              {% endif %}
              {% if f.field.widget and f.field.widget.input_type == 'checkbox' %}{{ f.label_tag }}{% endif %} {{ f|input }}
              <small class="text-error text-xs"></small>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div x-clock class="flex justify-end mt-4">
      <button type="submit" class="bg-primary text-light flex items-center rounded-md focus:outline-none">
        {% include 'components/indicators/spinner.html' %}
        <span class="ml-1">{% if btn_text %}{{ btn_text }}{% else %}{% translate 'Send' %}{% endif %}</span>
      </button>
    </div>
  </form>
</div>