{% extends 'dashboard/layout/base.html' %}
{% load static i18n %}

{% block content %}
  <h3 class="text-center mb-2">{% translate 'You can update your landing page here' %}</h3>
  {% include 'components/form.html' %}
  <div class="flex justify-center items-center fixed top-20 right-20">
    <span data-text="{{ landing_url }}" class="block material-icons bg-primary text-white p-2 rounded-full copy-to-clipboard cursor-pointer">link</span>
    <a href="{% url 'landing' landing.pk %}" target="_blank" class="block material-icons bg-primary text-white p-2 ml-4 rounded-full">preview</a>
  </div>
{% endblock content %}