{% extends 'dashboard/layout/base.html' %}
{% load static i18n %}

{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}
{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="{% static 'dashboard/js/update.js' %}"></script>
{% endblock js %}

{% block content %}
  <div class="mt-4">
    {% url 'update' as update_url %}
    {% include 'components/form.html' with direction='horizontal' method='POST' action=update_url %}
  </div>
  {% include 'components/modals/crop_modal.html' with event_name='modal:open' x_data='cropModalData' on_save='onSave' on_cancel='onCancel' %}
{% endblock content %}