{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
  <section class="my-14 flex container mx-auto">
    <div class="hidden md:block w-full bg-cover bg-no-repeat bg-center" style="background-image: url({% static 'web/img/bg-about.jpg' %})">
    </div>
    <div class="w-full p-2 md:p-10">
      <h1 class="mb-8 text-center">{% translate 'Get to know us' %}</h1>
      <p class="mb-8 text-center md:text-left">Nuestro objetivo es tu objetivo, es así de simple y hemos desarrollado una APP que permite ser ese detonante que se resume en una sola palabra.<br><br>¡Bienvenid@ est@ contratad@!</p>
      <div class="flex flex-col md:flex-row items-center justify-between mb-10">
        <span class="material-icons flex justify-center items-center w-20 h-20 rounded-full shadow-md text-primary text-4xl">query_stats</span>
        <div class="w-3/4">
          <h6 class="text-center md:text-left">Dinámico y práctico</h6>
          <p class="text-center md:text-left">La experiencia de nuestros usuarios al día de hoy nos resume como un APP de empoderamiento, ya que no solo permite mostrar lo mejor de su perfil profesional, si no de mostrase actualizados cada día y lo mejor de todo de una manera amigable y directa.</p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row items-center justify-between">
        <span class="material-icons flex justify-center items-center w-20 h-20 rounded-full shadow-md text-primary text-4xl">phonelink</span>
        <div class="w-3/4">
          <h6 class="text-center md:text-left">Segura y creativa</h6>
          <p class="text-center md:text-left">Nuestra APP cuenta con SSL y no compartimos tus datos sin tu concentimiento. Lo cual permite que tu y tus proyectos no sean alterados o manipulados para otros usos que esten fuera de el alcance deseado.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-center bg-cover bg-no-repeat w-full" style="background-image: url({% static 'web/img/bg-about-2.jpg' %})">
    <div class="container mx-auto flex flex-col md:flex-row justify-around py-20 backdrop-blur-md backdrop-grayscale">
      <div class="text-white text-center">
        <span class="material-icons text-4xl">face</span>
        <h2>32K</h2>
        <p class="text-xl">{% translate "Users" %}</p>
      </div>
      <div class="text-white text-center">
        <span class="material-icons text-4xl">phone_iphone</span>
        <h2>32K</h2>
        <p class="text-xl">Identicards</p>
      </div>
      <div class="text-white text-center">
        <span class="material-icons text-4xl">notifications</span>
        <h2>67K</h2>
        <p class="text-xl">{% translate "Sent notifications" %}</p>
      </div>
    </div>
  </section>
  <section class="container mx-auto flex flex-col md:flex-row justify-around items-center my-14">
    <div class="w-52 rounded-lg overflow-hidden shadow-md group">
      <img class="w-full" src="{% static 'web/img/ceo.jpeg' %}" />
      <div class="bg-gray-100 p-4 text-center group-hover:bg-primary transition-colors">
        <h4 class="text-primary group-hover:text-white">CEO</h4>
        <h6 class="group-hover:text-white">Carlos Bravo</h6>
      </div>
    </div>
  </section>
{% endblock content %}