{% extends 'base.html' %}

{% load static i18n %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.5/dist/css/splide.min.css">
{% endblock css %}

{% block js %}
  <script defer src="{% static 'web/js/home.js' %}"></script>
{% endblock js %}

{% block content %}
  <section class="md:hidden container mx-auto my-14">
    <h1 class="text-center mb-4 uppercase">Diseña tu talento, diseña tu identidad</h1>
    <p class="w-3/4 text-center mx-auto">
      Identicard, la manera efectiva de mostrar todo tu perfil profesional de una manera dinámica y práctica, No somos una tarjeta de presentación digital, somos esa primera impresión para ese puesto de trabajo que te esta buscando, somos todos tus talentos en un solo click.
    </p>
  </section>
  <section class="container mx-auto mt-14 flex flex-col md:flex-row">
    <div class="w-full bg-gray-200 grid grid-cols-1 grid-rows-1 gap-0 justify-items-center items-center" x-data="homeSliderData">
      <h2
        x-show="slide == 0"
        x-transition
        class="text-primary text-center w-1/2 col-start-1 row-start-1 col-end-2 row-end-2 uppercase"
      >
        {% translate 'Your best side and project' %}
      </h2>
      <img
        x-show="slide == 1"
        x-transition
        class="col-start-1 h-110 object-left-top object-cover row-start-1 col-end-2 row-end-2 w-full"
        src="{% static 'web/img/perfil-mujer.webp' %}"
      />
    </div>
    <img class="w-full h-110 object-cover object-center" src="{% static 'web/img/bg-tablet.jpg' %}" />
  </section>
  <section class="hidden md:block container mx-auto my-14">
    <h1 class="text-center mb-4">Diseña tu talento, diseña tu identidad</h1>
    <p class="w-1/2 text-center mx-auto">Identicard, la manera efectiva de mostrar todo tu perfil profesional de una manera dinámica y práctica, No somos una tarjeta de presentación digital, somos esa primera impresión para ese puesto de trabajo que te esta buscando, somos todos tus talentos en un solo click.</p>
  </section>
  <section class="container mx-auto flex flex-col md:flex-row">
    <div class="h-56 md:h-auto md:min-h-screen-1/2 w-full bg-top bg-no-repeat bg-cover order-2 md:order-1" style="background-image: url({% static 'web/img/bg-home.webp' %})"></div>
    <div class="flex flex-col justify-center items-center w-full order-1 md:order-2 bg-gray-700 text-white py-5">
      <p class="w-3/4 md:w-1/2 text-center">Hoy en día los reclutadores de los puestos más importantes en el mercado profesional agregan mucho valor a la forma en la que te presentas, HAZLO SIMPLE Y COOL.</p>
      {% comment %} <a href="{% url 'login' %}"><button class="bg-primary mt-2">Empieza ya</button></a> {% endcomment %}
      <a href="{% url 'login' %}"><button class="bg-primary mt-2">{% translate 'Start now' %}</button></a>
    </div>
  </section>
  <section class="container mx-auto relative">
    <img class="w-full" src="{% static 'web/img/bg-phone.webp' %}" />
    <img class="hidden md:block w-96 mx-auto rounded-md absolute -bottom-72 right-32" src="{% static 'web/img/bg-tablet.jpg' %}" />
  </section>
  <section class="container mx-auto flex bg-gray-700">
    <div class="w-full">
      <div class="w-3/4 md:w-2/3 mx-auto flex justify-center items-center my-14 flex-col">
        <a href="{% url 'login' %}"><button class="bg-primary text-white mb-10">{% translate 'Start now' %}</button></a>
        <p class="text-center text-white text-2xl">DILE ADÍOS A LOS CV O MAILS, SOMOS TU APP de perfil profesional, te haremos ver no solo capaz para ese puesto de trabajo sino moderno y actual.</p>
      </div>
    </div>
    <div class="hidden md:block w-full">
    </div>
  </section>
  <section class="container mx-auto my-14">
    <h1 class="text-center mb-4 text-xl md:text-4xl">Las micro webs son la tendencia para tu negocio</h1>
    <p class="w-1/2 text-center mx-auto">
      Identicard, la manera efectiva de mostrar tu negocio de una manera dinámica y práctica, comparte con tus clientes tu producto y empieza ha hacer crecer tu negocio
    </p>
  </section>
  <section class="container mx-auto flex flex-col md:flex-row">
    <div class="h-56 md:h-auto md:min-h-screen-1/2 w-full bg-top bg-no-repeat bg-cover order-2 md:order-1" style="background-image: url({% static 'web/img/bg-home-3.jpg' %})"></div>
    <div class="flex flex-col justify-center items-center w-full order-1 md:order-2 bg-gray-700 text-white py-5">
      <p class="w-3/4 md:w-1/2 text-center">Olvídate de las webs caras y los presupuestos altos de marketing, con Identicard pequeño negocio, llega a tu cliente de una manera,SIMPLE Y COOL.</p>
      <a href="{% url 'login' %}"><button class="bg-primary mt-2">{% translate 'Start now' %}</button></a>
    </div>
  </section>
  <section class="container mx-auto relative">
    <img class="w-full" src="{% static 'web/img/bg-home-4.jpg' %}" />
    <h2 class="w-full md:w-auto text-sm md:text-4xl absolute top-1/2 text-center -translate-y-1/2 left-1/2 -translate-x-1/2 text-white rounded-full border-2 border-primary py-2 px-4">ALGUIEN ESTÁ BUSCANDO TU NEGOCIO</h2>
    <img class="hidden md:block w-96 mx-auto rounded-md absolute -bottom-20 right-32" src="{% static 'web/img/bg-home-5.png' %}" />
  </section>
  <section class="container mx-auto flex bg-gray-700">
    <div class="w-full">
      <div class="w-3/4 md:w-2/3 mx-auto flex justify-center items-center my-14 flex-col">
        <a href="{% url 'login' %}"><button class="bg-primary text-white mb-10">{% translate 'Start now' %}</button></a>
        <p class="text-center text-white text-2xl">
          Que tus clientes tengan acceso a tu producto de una manera simple y rápida, no te compliques e invierte tu tiempo en lo tuyo el resto déjaselo a Identicard, tu micro web en un solo día y con un solo click.
        </p>
      </div>
    </div>
    <div class="hidden md:block w-full">
    </div>
  </section>
{% endblock content %}